<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
</head>
<style>
    #solo {
        width: 800px;
    }
</style>
<p>Flask SocketIO</p>
<div id="solo">
    welcome to walle 2.0
</div>
<br>
<input id="say" type="text">
<button id="send" type="button">Send!</button>
<body>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="http://dev.admin.walle-web.io/socket.io.min.js"></script>
<script>
    $(document).ready(function () {
        namespace = '/walle'
        solo = $('#solo')

        var socket = io.connect('http://' + document.domain + namespace);
        data = {
            'msg': 10
        }
        socket.on('connect', function (data) {
            write(data)
            socket.emit('open', data);
        });

        socket.on('console', function (data) {
            write(data)
            console.log(data)
        });

        socket.on('close', function (data) {
            write(data)
            socket.close()
        });

        function write(data) {
            console.log(data)
            if (!data) {
                return ''
            }
            msg = JSON.stringify(data);
            solo.html(solo.html() + '<br>' + msg);
        }

        $(document).keyup(function (event) {
            if (event.keyCode == 13) {
                $("#send").trigger("click");
                task = $('#say').val();
                socket.emit('deploy', {msg: task});
                $('#say').val('')
            }
        });
    });

</script>
</body>
</html>
