.main-container {
    width: auto;
}

span.indent {
    color: #ccc;
}

ul.trace {
    font-size: 12px;
    color: #999;
    margin: 2px 0 0 0;
    padding: 0;
    list-style: none;
    white-space: normal;
}

#db-panel-detailed-grid table tbody tr td {
    position: relative;
}

.db-explain {
    position: absolute;
    bottom: 4px;
    right: 4px;
    font-size: 10px;
}

.db-explain-text {
    display: none;
    margin: 10px 0 0px 0;
    font-size: 13px;
    width: 100%;
    word-break: break-all;
}

#db-explain-all {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    margin-right: 15px;
}

ul.assets {
    margin: 2px 0 0 0;
    padding: 0;
    list-style: none;
    white-space: normal;
}

.callout {
    margin: 0 0 10px 0;
    padding: 5px;
    border: solid 1px #eee;
    border-radius: 3px;
}

.callout-important {
    background-color: rgba(185, 74, 72, 0.2);
    border-color: rgba(185, 74, 72, 0.4);
}

.callout-success {
    background-color: rgba(70, 136, 71, 0.2);
    border-color: rgba(70, 136, 71, 0.4);
}

.callout-info {
    background-color: rgba(58, 135, 173, 0.2);
    border-color: rgba(58, 135, 173, 0.4);
}

.list-group .glyphicon {
    float: right;
}

td, th {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.request-table td {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    word-break: break-all;
}

.request-table tr > th:first-child {
    width: 25%;
}

.config-php-info-table td.v {
    word-break: break-all;
}

.not-set {
    color: #c55;
    font-style: italic;
}

.detail-grid-view th {
    white-space: nowrap;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.mail-sorter {
    margin-top: 7px;
}

.mail-sorter li {
    list-style: none;
    float: left;
    width: 12%;
    font-weight: bold;
}

.nowrap {
    white-space: nowrap;
}
