.pull-right {
    float: right;
}

/* 用户组 */
.user-group-wrapper .user-icon {
    float: left;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background-color: #000;
}

.user-group-wrapper .user-name {
    margin-bottom: 14px;
}

.user-group-wrapper .delete-btn {
    font-size: 14px;
}
